*.log
*.swl
*.swm
*.swn
*.swo
*.swp
*.DS_Store
src/settings.py
src/manage
manage.sh
*~
.idea
_g_*.py
tmp*
*cache*
.ipython
dist
steroids
!steroids/*.py*
src/static
*.trace.ini
.coverage
htmlcov
.config
dmypy*
Pipfile*
.vagrant
.vscode
Vagrantfile
docs/bql
_build

# virtualenv folders
venv/
venv3/
